# NameX DB
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_INSTANCE_CONNECTION_NAME=
DATABASE_SCHEMA=

# Email Service
EMAIL_RECIPIENTS=
NOTIFY_API_URL=
NOTIFY_API_VERSION=

# Keycloak
KEYCLOAK_AUTH_TOKEN_URL=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_CLIENT_SECRET=