Flask-Caching==1.10.1
Flask-Migrate==2.7.0
Flask-Moment==0.11.0
Flask-SQLAlchemy==2.5.1
Flask-Script==2.0.6
Flask==1.1.2
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
SQLAlchemy==1.4.11
Werkzeug==1.0.1
alembic==1.5.8
aniso8601==9.0.1
attrs==20.3.0
cachelib==0.1.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cmudict==0.4.5
cx-Oracle==8.1.0
dataclasses==0.6
ecdsa==0.14.1
flask-jwt-oidc==0.3.0
flask-marshmallow==0.14.0
flask-restx==0.3.0
greenlet==1.0.0
gunicorn==20.1.0
idna==2.10
inflect==5.3.0
itsdangerous==1.1.0
joblib==1.0.1
jsonpickle==2.0.0
jsonschema==3.2.0
lxml==4.9.1
marshmallow-sqlalchemy==0.24.3
marshmallow==3.11.1
nltk==3.6.2
numpy==1.20.2
pandas==1.2.4
pronouncing==0.2.0
psycopg2-binary==2.8.6
pyasn1==0.4.8
pycountry==20.7.3
pyrsistent==0.17.3
pysolr==3.9.0
python-dateutil==2.8.1
python-dotenv==0.17.1
python-editor==1.0.4
python-jose==3.2.0
pytz==2021.1
regex==2021.4.4
requests==2.25.1
rsa==4.7.2
six==1.15.0
toolz==0.11.1
tqdm==4.60.0
urllib3==1.26.4
asyncio-nats-client==0.11.4
asyncio-nats-streaming==0.4.0

# protobuf is a temporary solution for https://github.com/protocolbuffers/protobuf/issues/10051
# will be removed once the bug is fixed
protobuf==3.20.1

git+https://github.com/bcgov/namex.git#egg=namex&subdirectory=api
git+https://github.com/bcgov/namex-payment-api-py-client.git@dev#egg=openapi_client
git+https://github.com/bcgov/namex-synonyms-api-py-client.git#egg=swagger_client
git+https://github.com/bcgov/namex.git#egg=queue_common&subdirectory=services/common
