gunicorn

Flask
Flask-RESTplus
Flask-SQLAlchemy
Flask-Marshmallow
Flask-OIDC
flask-jwt-oidc
Werkzeug==0.16.0

pytest-flask
python-jose-cryptodome
python-dotenv
psycopg2-binary
marshmallow
marshmallow-sqlalchemy
sqlalchemy
httplib2
six
