gunicorn

Flask
Flask-RESTplus
Flask-SQLAlchemy
Flask-Marshmallow
Flask-OIDC

pytest-flask
python-jose-cryptodome
python-dotenv
psycopg2-binary
marshmallow
marshmallow-sqlalchemy
sqlalchemy
httplib2
six