Flask-Migrate==2.7.0
Flask-SQLAlchemy==2.4.1
Flask-Script==2.0.6
Flask==1.1.2
Jinja2==2.11.3
Mako==1.1.4
MarkupSafe==1.1.1
SQLAlchemy==1.4.2
Werkzeug==3.0.1
alembic==1.5.7
aniso8601==9.0.1
attrs==20.3.0
cachelib==0.1.1
click==7.1.2
dnspython==1.16.0
ecdsa==0.14.1
eventlet==0.30.2
flask-jwt-oidc==0.3.0
flask-marshmallow==0.11.0
flask-restplus==0.13.0
greenlet==1.0.0
gunicorn==20.0.4
itsdangerous==1.1.0
joblib==1.0.1
jsonpickle==2.0.0
jsonschema==3.2.0
marshmallow-sqlalchemy==0.19.0
marshmallow==2.19.2
nltk==3.5
psycopg2-binary==2.8.6
pyasn1==0.4.8
pyinflect==0.5.1
pyrsistent==0.17.3
python-dateutil==2.8.1
python-dotenv==0.15.0
python-editor==1.0.4
python-jose==3.2.0
pytz==2021.1
regex==2021.3.17
rsa==4.7.2
six==1.15.0
tqdm==4.59.0
