<div>
    {% for choice in names %}
        {% if choice.state == 'CONDITION' or choice.state == 'APPROVED' %}
           <div class="section-title">
               <div>
                   <span>Approved Name</span>
                   {% if choice.choice == '1' %}
                      <span class="section-data highlighted-blue-text">(1st Choice)</span>
                   {% elif choice.choice == '2' %}
                      <span class="section-data highlighted-blue-text">(2nd Choice)</span>
                   {% elif choice.choice == '3' %}
                      <span class="section-data highlighted-blue-text">(3rd Choice)</span>
                   {% endif %}
                   <span>: </span>
                   <span class="uppercase-text">{{choice.name}}</span>
               </div>
               <div>
                   <span>Expires:</span>
                   <span>{{ expirationDate }}</span>
               </div>
          </div>
        {% endif %}
    {% endfor %}
</div>
<div>
    <div class="mt-2"><span class="section-title-gray">Request Status:</span> <span class="section-data">{{ nrStateDescription }}</span</div>
    {% if consentFlag in ['Y'] %}
    <div class="mt-2"><span class="section-title-gray">Consent:</span> <span class="section-data">Required. Not Yet Received.</span></div>
    {% elif consentFlag in ['R'] %}
    <div class="mt-2"><span class="section-title-gray">Consent:</span> <span class="section-data">Required. Received.</span></div>
    {% else %}
    <div class="mt-2"><span class="section-title-gray">Consent:</span> <span class="section-data">Not Required.</span></div>
    {% endif %}
    {% for choice in names %}
        {% if choice.state == 'CONDITION' %}
            <div class="mt-2"><span class="section-title-gray">Conditions/Comments:</span>
            <div>{{ choice.decision_text }}.</div>
            {% if consentFlag == 'Y' %}
                <span class="section-data">Consent letters will be processed within two business days of receipt.</span>
            {% endif %}
        </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
