Flask-SQLAlchemy==2.5.1
Flask==1.1.2
Jinja2==3.0.1
MarkupSafe==2.0.1
SQLAlchemy==1.4.17
Werkzeug==2.0.1
click==8.0.1
cx-Oracle==8.2.0
greenlet==1.1.0
itsdangerous==2.0.1
python-dotenv==0.17.1
git+https://github.com/bcgov/namex.git#egg=namex&subdirectory=api
git+https://github.com/bcgov/namex-synonyms-api-py-client.git#egg=swagger_client
git+https://github.com/bcgov/namex-payment-api-py-client.git@dev#egg=openapi_client
