SECRET_KEY=

# Sentry
SENTRY_ENABLED=false
SENTRY_DSN=

# Database
NAMEX_DATABASE_HOST=
NAMEX_DATABASE_NAME=
NAMEX_DATABASE_PASSWORD=
NAMEX_DATABASE_PORT=
NAMEX_DATABASE_USERNAME=

DATABASE_TEST_HOST=
DATABASE_TEST_NAME=
DATABASE_TEST_PASSWORD=
DATABASE_TEST_PORT=
DATABASE_TEST_USERNAME=

# Oracle Database
NRO_USER=
NRO_PASSWORD=
NRO_DB_NAME=
ORACLE_HOST=
ORACLE_PORT=1521

# APIs
PAY_API_URL=
PAY_API_VERSION=

# NATS
NATS_SERVERS=nats://localhost:4222
NATS_CLIENT_NAME=namex.worker
NATS_CLUSTER_ID=test-cluster
NATS_QUEUE=namerequest-processor
NATS_NR_STATE_SUBJECT=namex.event
NATS_EMAILER_SUBJECT=entity.email
