SECRET_KEY=

# Sentry
SENTRY_ENABLED=false
SENTRY_DSN=

# Database
NAMEX_DATABASE_HOST=
NAMEX_DATABASE_NAME=
NAMEX_DATABASE_PASSWORD=
NAMEX_DATABASE_PORT=
NAMEX_DATABASE_USERNAME=

DATABASE_TEST_HOST=
DATABASE_TEST_NAME=
DATABASE_TEST_PASSWORD=
DATABASE_TEST_PORT=
DATABASE_TEST_USERNAME=

# Oracle Database
NRO_USER=
NRO_PASSWORD=
NRO_DB_NAME=
ORACLE_HOST=
ORACLE_PORT=1521

# APIs
PAY_API_URL=
PAY_API_VERSION=

GCP_AUTH_KEY=
EMAILER_TOPIC=
NAMEX_PAY_SUB=