Flask==1.1.2
itsdangerous==1.1.0
jsonschema==3.2.0
python-dotenv==0.17.1
sentry-sdk[flask]
asyncio-nats-client==0.11.4
asyncio-nats-streaming==0.4.0
pycountry==20.7.3
Werkzeug==1.0.1
nest_asyncio
aiohttp>=3.8.1
attrs>=20.3.0
certifi>=2022.9.24
click==7.1.2
Jinja2==2.11.3
MarkupSafe==1.1.1
pyrsistent==0.17.3
six==1.15.0
urllib3>=1.26.4
requests==2.25.1
protobuf==3.20.1

git+https://github.com/bcgov/business-schemas.git#egg=registry_schemas
git+https://github.com/bcgov/namex.git#egg=namex&subdirectory=api
git+https://github.com/bcgov/namex.git#egg=queue_common&subdirectory=services/common
git+https://github.com/bcgov/namex-synonyms-api-py-client.git#egg=swagger_client
