[MASTER]

# Specify a configuration file.
#rcfile=

# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
#init-hook=

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=200