name: Auto Analyze CI

on:
  pull_request:
    types: [assigned, synchronize]
    paths:
      - "services/auto-analyze/**"

jobs:
  auto-analyze-ci:
    env:
      DATABASE_TEST_USERNAME: postgres
      DATABASE_TEST_PASSWORD: postgres
      DATABASE_TEST_NAME: postgres
      DATABASE_TEST_HOST: localhost
      DATABASE_HOST: localhost
      DATABASE_PASSWORD: postgres

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6.12]

    services:
      postgres:
        image: postgres:11
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        working-directory: ./services/auto-analyze
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install -r requirements/dev.txt
      - name: Lint with pylint
        working-directory: ./services/auto-analyze
        run: |
          pylint --rcfile=setup.cfg src
      - name: Lint with flake8
        working-directory: ./services/auto-analyze
        run: |
          flake8 src tests
      - name: Test with pytest
        working-directory: ./services/auto-analyze
        run: |
          pip install .
          pytest
