name: Namex Bad Name Notifier CD

on:
  push:
    branches:
      - main
    paths:
      - "jobs/bad-name-notifier/**"
  workflow_dispatch:
    inputs:
      target:
        description: "Deploy To"
        required: true
        type: choice
        options:
          - dev
          - test
          - sandbox
          - prod
      redeploy:
        description: "Redeploy Application"
        required: true
        type: choice
        options:
          - "false"
          - "true"

permissions:
  id-token: write
  contents: write

jobs:
  namex-bad-name-notifier-cd:
    uses: bcgov/bcregistry-sre/.github/workflows/backend-job-cd.yaml@main
    with:
      target: ${{ inputs.target }}
      app_name: "namex-bad-name-notifier"
      working_directory: "./jobs/bad-name-notifier"
      redeploy: ${{ inputs.redeploy }}
    secrets:
      WORKLOAD_IDENTIFY_POOLS_PROVIDER: ${{ secrets.WORKLOAD_IDENTIFY_POOLS_PROVIDER }}
      GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
