name: Colin API CI

on:
  pull_request:
    types: [assigned, synchronize]
    paths:
      - "colin-api/**"

defaults:
  run:
    shell: bash
    working-directory: ./colin-api

jobs:
  setup-job:
    runs-on: ubuntu-20.04

    if: github.repository == 'bcgov/namex'

    steps:
      - uses: actions/checkout@v2
      - name: setup check
        run: |
          echo "setup check pass."

  linting:
    needs: setup-job
    runs-on: ubuntu-20.04

    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          make setup
      - name: Lint with pylint
        id: pylint
        run: |
          make pylint
      - name: Lint with flake8
        id: flake8
        run: |
          make flake8

  testing:
    needs: setup-job
    env:
      DATABASE_TEST_USERNAME: postgres
      DATABASE_TEST_PASSWORD: postgres
      DATABASE_TEST_NAME: postgres
      DATABASE_TEST_HOST: localhost

    runs-on: ubuntu-20.04

    strategy:
      matrix:
        python-version: [3.8]

    services:
      postgres:
        image: postgres:12
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: postgres
        ports:
          - 5432:5432
        # needed because the postgres container does not provide a healthcheck
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          make setup
      - name: Test with pytest
        id: test
        run: |
          make test
      - name: Temporarily save coverage.xml
        uses: actions/upload-artifact@v2
        with:
          name: colin-api-coverage
          path: ./api/coverage.xml
          retention-days: 1

  coverage:
    needs: testing
    runs-on: ubuntu-20.04
    steps:
      - name: Retrieve saved coverage.xml
        uses: actions/download-artifact@v2
        with:
          name: colin-api-coverage

      - name: Upload coverage to Codecov
        if: hashFiles('./colin-api/coverage.xml') != ''
        uses: codecov/codecov-action@v1
        with:
          file: ./api/coverage.xml
          flags: colinapi
          name: codecov-colin-api
          fail_ci_if_error: true

  build-check:
    needs: setup-job
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v2
      - name: build to check strictness
        id: build
        run: |
          make build-nc
