name: Notebook Report CI

on:
  pull_request:
    paths:
      - "jobs/notebook-report/**"
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: ./jobs/notebook-report

jobs:
  notebook-report-ci:
    uses: bcgov/bcregistry-sre/.github/workflows/backend-ci.yaml@main
    with:
      app_name: "notebook-report"
      working_directory: "./jobs/notebook-report"
      codecov_flag: "notebook-report"
      skip_isort: "true"
      skip_black: "true"