name: Namex Solr Feeder CI

on:
  pull_request:
    paths:
      - "solr-feeder/**"
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: "solr-feeder"

jobs:
  solr-feeder-ci:
    uses: bcgov/bcregistry-sre/.github/workflows/backend-ci.yaml@main
    with:
      app_name: "namex-solr-feeder"
      working_directory: "solr-feeder"
      codecov_flag: "solrfeeder"
      skip_isort: "true"
      skip_black: "true"