name: Namex Solr Names Updater CI

on:
  pull_request:

    paths:
      - "services/solr-names-updater/**"
  workflow_dispatch:

defaults:
  run:
    shell: bash
    working-directory: "services/solr-names-updater"

jobs:
  solr-names-updater-ci:
    uses: bcgov/bcregistry-sre/.github/workflows/backend-ci.yaml@main
    with:
      app_name: "namex-solr-names-updater"
      working_directory: "services/solr-names-updater"
      codecov_flag: "solrnamesupdater"
      skip_isort: "true"
      skip_black: "true"
